@media screen and (max-width:1400px) {
    
}
@media screen and (max-width:1200px) {
    
}
@media screen and (max-width:992px) {
    .bannerimage{
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    .bannerimage{
        width: 40%;
    }
}
@media screen and (max-width:576px) {
     /* h1{
        font-size: 8vw; 
    }
     p{
        font-size: 4vw;
    } */
    
}
@media screen and (max-width:320px) {
    
}